@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import "setting.css";
@import "intro.css";
@import "home.css";
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: rgb(24, 24, 32);
    border-top:1px solid rgb(20, 20, 20, 0.8);
}

footer>div{
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    line-height: 1.5rem;
}

.header{
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 0.5px solid rgba(236, 236, 236, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem 4rem;
    padding-bottom: 0.3rem;
    transition: all 0.2s ease-in-out;
}

.header__icon a{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.header__navbar a{
    font-size: 1.2rem;
    margin: 0px 0.3rem;
    text-decoration: none;
    transition: text-decoration 0.2s ease-in-out;
}

.header__navbar a:hover{
    text-decoration: underline;
}

.change_color {
    background-color: rgb(236, 236, 236);
}