{% extends 'base.html'%}
    <!-- 컨텐츠 화면 -->
    {%block content%}
        <div class="main_photo main_envirment">
        </div>
        <main class="main_contents">
            <div class="title korean">게시글 작성</div>
            {% if messages %}
                    {% for message in messages %}
                        <div class="post_error korean subtitle">{{ message.message }}</div>
                    {% endfor %}
                {% endif %}
            <form class="post_form" action="{%url 'co_create'%}" method="POST" enctype ="multipart/form-data">
                {%csrf_token%}
                <span class="post_form__title korean">제목: <input type="text" name="title" placeholder="제목을 입력하세요"></span>
                <span class="post_form__content korean">내용: <textarea name="content" placeholder="내용을 입력하세요"></textarea></span>
                <div class="post_form__image-submit korean">
                    <span class="post_form__image korean">이미지 첨부: <input type="file" name="image" placeholder="사진을 추가하세요"></span>
                    <input class="post_form__submit korean" type="submit" value="제출하기">
                </div>
            </form>
            <div></div>
        </main>
    {%endblock%}
    