{% extends 'base.html'%}
{%block content%}
    <!-- 컨텐츠 화면 -->

    <div class="main_photo main_hiking">
    </div>
    <main class="main_contents">
        <div class="title">Hiking</div>
        <div class="hiking_info">
            <div class="hiking_article">
                <span class="subtitle underline korean">국립공원 기상 예보</span>
                <div class="hiking_national korean">
                    <div class="hiking_national__mountain">
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=159&mtId=11H004P0" class="national_park"><span>가야산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=133" class="national_park"><span>계룡산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=156&mtId=11F003P0" class="national_park"><span>내장산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=156&mtId=11F004P0" class="national_park"><span>덕유산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=156&mtId=11F019P0" class="national_park"><span>무등산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=109" class="national_park"><span>북한산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=105" class="national_park"><span>설악산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=159&mtId=11H003P0" class="national_park"><span>소백산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=133&mtId=11C002P0" class="national_park"><span>속리산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=105&mtId=11D002P0" class="national_park"><span>오대산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=133&mtId=11C003P0" class="national_park"><span>월악산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=156&mtId=11F001P0" class="national_park"><span>월출산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=159" class="national_park"><span>주왕산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=159&mtId=11H002P0" class="national_park"><span>지리산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=105&mtId=11D003P0" class="national_park"><span>치악산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=105&mtId=11D004P0" class="national_park"><span>태백산</span></a>
                        <a href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=184&mtId=11G001P0" class="national_park"><span>한라산</span></a>
                    </div>
                    <!-- <span><i class="far fa-sad-cry"></i></span>
                    준비중입니다ㅜ -->
                </div>
            </div>
            <div class="hiking_article">
                <span class="subtitle underline korean">산악 기상</span>
                <div class="hiking_weather korean">
                    <div id="map" class="map" style="width: 500px; height: 600px; z-index: 0;">
                    </div>
                    <!-- <span><i class="far fa-sad-cry"></i></span>
                    준비중입니다ㅜ -->
                </div>
            </div>
        </div>
        <div class="hiking_article">
            <span class="subtitle underline korean">산행 기록</span>
            <div class="hiking_memory korean">
                <span><i class="far fa-sad-cry"></i></span>
                준비중입니다ㅜ
            </div>
        </div>
    </main>
    <script src="/static/js/kakaomap.js"></script>
    <script>
        var address = JSON.parse("{{ location|escapejs }}");
        var weather = JSON.parse("{{ weather|escapejs }}");
        // console.log(address[0].mountain);
        // 마커를 표시할 위치입니다 
        var positions =  [];
        var markerArray = [];
        for(var i = 0; i < Object.keys(address).length; i++){
                var content = {
                    title: address[i].mountain,
                    latlng: new kakao.maps.LatLng(address[i].mapy, address[i].mapx),
                    temp: weather[i].temp,
                    humanity: weather[i].humanity,
                    wind:weather[i].wind,
                    rain:weather[i].rain
                }
                positions.push(content);
        };

        
        for (var i = 0; i < positions.length; i++) {            
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        });
        markerArray.push(marker);

        (function(marker, place) {
            // 마크 클릭 시
            kakao.maps.event.addListener(marker, 'click', function() {
                var overlay = new kakao.maps.CustomOverlay({
                // 오버레이에 띄울 내용
                content: '<div class="map_wrap">' +
                        '    <div class="map_info">' +
                        '        <div class="map_title">' +
                                    place.title +
                        '        </div>' +
                        '        <div class="map_body">' +
                        '            <div class="map_desc">' +
                        '                <div class="map_ellipsis">' + '기온: ' + place.temp + '</div>' +
                        '		       <div class="map_ellipsis">'+ '습도: ' + place.humanity + '%' + '</div>' +
                        '		       <div class="map_ellipsis">'+ '풍속: ' + place.wind + 'm/s' +'</div>' +
                        '		       <div class="map_ellipsis">'+ '강수량: ' + place.rain + 'mm' +'</div>' +
                        '            </div>' +
                        '        </div>' +
                        '    </div>' +
                        '</div>',
                map: map,
                position: marker.getPosition()
                });
                // 아무데나 클릭하게되면 overlay를 끄기
                kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                overlay.setMap(null)
                })
                console.log(overlay);
                overlay.setMap(map);
            })
            })(marker, positions[i])
        }
        var changeMarkerImage = function(){				
				// 지도의 현재 레벨을 얻어옵니다
				var level = map.getLevel();
                
                // 마커 이미지의 이미지 주소입니다
                var imageSrc = "/static/img/아마다.png";
				// 지도 크기 레벨 별로 마커 사이즈를 조절 합니다
				if(1 <= level && level <= 6) {
					markerImage = new kakao.maps.MarkerImage(imageSrc, new kakao.maps.Size(70, 73));
				} 
                else if(7 <= level && level <= 10) {
					markerImage = new kakao.maps.MarkerImage(imageSrc, new kakao.maps.Size(50, 53));
				} 
                else if(10 <= level && level <= 12) {
                    markerImage = new kakao.maps.MarkerImage(imageSrc, new kakao.maps.Size(30, 33));
				} 
                else if(13 <= level) {
					markerImage = new kakao.maps.MarkerImage(imageSrc, new kakao.maps.Size(10, 13));
				} 
                for(var i = 0; i < markerArray.length; i++){
				    markerArray[i].setImage(markerImage);
                }
			};
			
		kakao.maps.event.addListener(map, 'zoom_changed', changeMarkerImage);
		changeMarkerImage();
    </script>
    
    <!-- 컨텐츠 화면 종료 -->
{%endblock%}