{% extends 'base.html'%}
{%block content%}
    <!-- 컨텐츠 화면 -->

    <div class="main_photo main_hiking">
    </div>
    <main class="main_contents">
        <div class="title">Hiking</div>
        <div class="hiking_info">
            <div class="hiking_article">
                <span class="subtitle underline korean">산악 소식</span>
                <div class="hiking_news korean">
                    <span><i class="far fa-sad-cry"></i></span>
                    준비중입니다ㅜ
                </div>
            </div>
            <div class="hiking_article">
                <span class="subtitle underline korean">산악 기상</span>
                <div class="hiking_weather korean">
                    {%for weather in weather_result%}
                        {{weather}}
                    {%endfor%}
                    <!-- <span><i class="far fa-sad-cry"></i></span>
                    준비중입니다ㅜ -->
                </div>
            </div>
        </div>
        <div class="hiking_article">
            <span class="subtitle underline korean">산행 기록</span>
            <div class="hiking_memory korean">
                <span><i class="far fa-sad-cry"></i></span>
                준비중입니다ㅜ
            </div>
        </div>
    </main>
    <!-- 컨텐츠 화면 종료 -->
{%endblock%}